.navbar-brand span {
    color: rgb(0, 86, 245);
}

.Login-container {
    width: 50%;
    margin: 0 auto;
    align-items: center;
    margin-top: 20%;
    justify-content: center;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 10px;
}

h2 {
    margin: 10px;
    text-align: left;
    font-weight: 700;
    font-size: 35px;
}

#sign-up-btn {
    margin-top: 15px;
}


p {
    font-size: 15px;
    margin: 15px;
}

a {
    text-decoration: none;
    font-weight: 500;
    color: blueviolet;
}


@media (max-width: 700px) {
    
    .Login-container{
        width: 100%;
        border-radius: 0;
    }

    h2 {
        font-size: 25px;
    }
    
    }