body {
    background-image: url("bg.jpg");
 }


.navbar-brand span {
    color: rgb(0, 86, 245);
}


.Org-sign-up-container {
    width: 40rem;
    margin: 0 auto;
    align-items: center;
    margin-top: 10%;
    justify-content: center;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 20px;
    padding: 0 15px;

}

h2 {
    margin: 10px;
    text-align: left;
    font-weight: 700;
    font-size: 30px;
    padding: 15px;
}

#sign-up-btn {
    margin-top: 15px;
}


p {
    font-size: 15px;
    margin: 15px;
    padding: 10px;
}

a {
    text-decoration: none;
    font-weight: 500;
    color: blueviolet;
}

@media (max-width: 700px) {
    
    .Org-sign-up-container {
        width: 100%;
        border-radius: 0;
        margin-top: 25%;

    }
    
    h2 {
        font-size: 25px;
    }
    
    }